# Ignore compiled results at the package's top level; these are probably a result of running the CLI
/*.bc
/*.ll

target/
.idea/

# release artifacts
dist
qcs-sdk-qir-llvm*
tmp-deps-build
.release-env
helper/libhelper.*
helper/helper.c