on:
  release:
    types: [created]

name: Release SDK & Utils (macos/linux)

jobs:
  build-sdk-helper-release:
    name: Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macOS: Intel processor; oldest version GitHub provides as of 2025-07-28
        # Ubuntu: LTS version based on Debian Bookworm
        os: [macos-13, ubuntu-22.04]
        rust:
          - stable
        llvm_version: [12, 13, 14]
    env:
      C_SDK_VERSION: v0.1.1
      LLVM_VERSION: ${{ matrix.llvm_version }}
      LLVM_FULL_VERSION: ${{ matrix.llvm_version }}.0.1
      TESTING_TAG: v0.0.0-local
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true

    - name: Cache Rust environment
      uses: Swatinem/rust-cache@v1

    - name: Install LLVM
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "${{ matrix.llvm_version }}.0"

    - name: Install missing LLVM deps
      if: contains(matrix.os, 'ubuntu')
      run: sudo apt-get install -y libtinfo5
    
    - name: Check LLVM installation
      run: llvm-config --version

    - name: Install cargo-make
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: --debug cargo-make

    - name: Install build environment dependencies
      uses: lukka/get-cmake@latest

    - name: Run cargo build, test, fmt, clippy
      env:
        LLVM_FEATURE: llvm${{ matrix.llvm_version }}-0
        PROFILE: "release"
      run: cargo make ci-flow

    - name: Setup release build environment
      run: |
        C_SDK_VERSION=${{ env.C_SDK_VERSION }} \
        LLVM_VERSION=${{ env.LLVM_VERSION }} \
        LLVM_FULL_VERSION=${{ env.LLVM_FULL_VERSION }} \
        TESTING_TAG=${{ env.TESTING_TAG }} \
        TAG=${{ github.ref_name }} \
        CI=${CI} \
        ./scripts/release/setup.sh

        cat .release-env >> $GITHUB_ENV

    - name: Build release artifacts
      run: ./scripts/release/build.sh

    - name: Collect release artifacts and build archive
      run: ./scripts/release/archive.sh

    - name: Upload archive to CI summary
      uses: actions/upload-artifact@v3
      with:
        name: ${{ env.RELEASE }}-artifacts
        path: |
          ${{ env.ARCHIVE }}
          ${{ env.CHECKSUM }}
    
    - name: Upload archive to Release ${{ env.TAG }}
      if: env.TAG != env.TESTING_TAG
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ${{ env.ARCHIVE }}
          ${{ env.CHECKSUM }}
